$gray1 : #3e3e3e;
$gray2: #afafaf;
$bg-white: #fffafa;
$txt-main: #333333;
$main-red: #980001;


$font1 : 'Lobster', cursive;
$main-font: 'Roboto', sans-serif;


//Screen sizes
$small:     550px;
$medium:    600px;
$large:     992px;
$x-large:   1200px;
